.wrapper {
    h1 {
        margin-bottom: 1rem;
        color: var(--green-700);
        font-weight: bold;
        font-size: 2.5rem;
    }

    h3 {
        color: var(--black);

        & + h3 {
            margin-top: 1rem;
        }
    }

    p {
        color: var(--white);
    }
}