.rate {
    width: 100%;
    padding: 0 1.5rem;
    height: 4rem;
    background: var(--green-700);
    color: #fff;
    border-radius: 0.25rem;
    border: 0;
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    transition: filter(0.2s);

    &:hover {
        filter: brightness(0.9);
    }
}

.title {
    margin-bottom: 1rem;
    color: var(--green-700);
    font-weight: bold;
    font-size: 2.5rem;
}
