* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFFFFF;

  --green-500: #7f9153;
  --green-700: #193720;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--green-700);
  color: var(--green-500);
}

body, input, textarea, select, button {
  font: 400 1rem "Tenor Sans", sans-serif;
}

button {
  cursor: pointer;
}